{
  "name": "com.adamancia.vault_classifier",
  "description": "Vault Classifier browser bridge",
  "path": "__ABSOLUTE_PATH_TO_VAULT_CLASSIFIER_NATIVE_HOST__",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://mcbmcmephdaapjepopobikobjmfdeamm/"
  ]
}
